<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ENCUENTROS RED LIICEO</title>

</head>
<body>
<table>
   {% for m in encuentros %}
        <thead>
            <tr>
                <th>ID</th>
                <th>TITULO</th>
                <th>Fecha</th>
                <th>Mostrar</th>
                <th>Referencia</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ m.id }}</td>
                <td>{{ m.titulo }}</td>
                <td>{{ m.fecha }}</td>
                <td>{{m.documento}}</td>
                <td>
                    <a href="verMemorias/{{m.referencia}}.pdf" class="text-center">buscar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
