<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Subir Libro</title>
    <!-- Agrega el enlace a la hoja de estilo de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Subir Libro</h1>
        <form method="post" enctype="multipart/form-data" class="mt-3">
            {% csrf_token %}
            <!-- Aquí utilizaremos las clases de Bootstrap para estilizar el formulario -->
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Subir</button>
        </form>
    </div>

    <!-- Agrega los scripts de Bootstrap al final del cuerpo del documento para mejorar el rendimiento -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
