body {
    font-family: Arial, sans-serif;
    background-image: url('ruta/de/imagen/fondo_biblioteca.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}

.navbar-nav .nav-link {
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #555;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    border: none;
}
